<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">
  <ion-avatar>
    <img alt="Kosong" src="../../assets/img/sela.jpg" />
  </ion-avatar>
    <strong>Sela Rahmawati</strong>
    <p>Mahasiswa</p>
    <p>Email : sela.rahmawati@mhs.politala.ac.id</p>
    <p>Instagram : <a
      href="https://instagram.com/sselaaaaaaa?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==" > @sselaaaaaaa</a> </p>
  </div>
</ion-content>
